@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/pt-sans-regular.woff2") formal("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/pt-sans-bold.woff2") formal("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src:url("../fonts/pt-sans-italic.woff2") formal("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src:url("../fonts/pt-sans-bold-italic.woff2") formal("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.header-logo {
  vertical-align: bottom;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 445px;
  margin-left: 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.navigation-link {
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navigation-item {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: -5px;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: #756257;
  opacity: 0.3;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.likes {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
  top: 13px;
  right: -5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.amount-likes {
  display: block;
  text-align: center;
  padding-top: 3px;
}

.amount-likes:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.navigation-button {
  margin-left: 20px;
}

.button-want {
  padding: 8px 14px 7px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  border-radius: 4px;
  border: 1px solid #756257;
}

.button-brown {
  background-color: #756257;
  text-decoration: none;
  outline: none;
}

.button-brown:hover {
  background-color: #615048;
  border-radius: 4px;
}

.button-brown:focus {
  background: #615048;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.button-blue {
  background-color: #83b3d3;
  text-decoration: none;
  outline: none;
}

.button-blue:hover {
  background: #68A2CA;
}

.button-blue:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.button-blue:active {
  background: #68A2CA;
  color: #FFFFFF;
  opacity: 0.3;
}

.button-green {
  background-color: #7db54f;
  text-decoration: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  margin: 51px auto 25px;

}

.logotype {
  color: #ffffff;
  background-color: #000000;
  background: url("../images/index/index-background.jpg") no-repeat;
  background-size: cover;
}

 .logotype::after {
   content: "";
   height: 57px;
   width: 100%;
   display: block;
   background-image: url("../images/index/divider.svg");
   background-repeat: no-repeat;
   background-size: 100% auto;
}

.description {
  color: #000000;
  background-color: #ffffff;
}

.definition {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  /*width: 720px;*/
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 31px;
}

.cause {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.advantages-title {
  margin-top: 97px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 30px 90px 87px;
}

.number {
  margin-bottom: 30px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.travel-reason {
  margin: 0 75px 79px;
  color: #333333;
}

.reason {
  color: #333333;
  text-align: center;
  margin: 30px 75px 108px;
}

.picture {
  width: 800px;
  height: 384px;
}

.photo-one {
  background: url("../images/index/photo-city-of-sedona.jpg") no-repeat;
}

.photo-two {
  background: url("../images/index/photo-grand-canyon.jpg") no-repeat;
}

.real-city,
.bridge {
  color: #ffffff;
  background-color: #83b3d3;
}

.food {
  background-color: #ffffff;
}

.beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.icon-house {
  background-image: url("../images/index/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center 89px;
  background-size: 75px 72px;
}

.icon-burger {
  background-image: url("../images/index/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center 91px;
  background-size: 74px 70px;
}

.icon-present {
  background-image: url("../images/index/icon-present.svg");
  background-repeat: no-repeat;
  background-position: center 85px;
  background-size: 64px 76px;
}

.travel-item {
  margin: 184px auto 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-search {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 93px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
  margin-top: 91px;
  margin-bottom: 29px;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.button-search {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 575px;
  padding: 15px 0;
  margin: 0 auto;
  border-radius: 10px;
}

.button-search:hover {
  border-radius: 10px;
}

.button-search:focus {
  border-radius: 10px;
}

.newletter-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 94px 0;
}

.subscription {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.newletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
}

.newletter-form {
  display: flex;
  justify-content: center;
}

.field {
  width: 600px;
  height: 60px;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-right: 19px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.newletter-button {
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  align-self: center;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.newletter-button:hover {
  border-radius: 0 10px 10px 0;
}

.newletter-button:focus {
  border: 3px solid #756257;
  border-radius: 0 10px 10px 0;
}

.newletter-button:active {
  border-radius: 0 10px 10px 0;
}

.page-footer {
  margin: 0 auto;
  width: 1200px;
  color:#000000;
  background-color: #ffffff;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px;
  color: #83b3d3;
}

.social-icon {
  fill: #83b3d3;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-icon:hover {
  fill: #68A2CA;
}
.social-icon:active {
  fill: #68A2CA;
  opacity: 0.3
}

.button-social:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  box-sizing: border-box;
}

.button-social:active {
  outline: none;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 37px;
}

.footer-social-item {
  margin-right: 4px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.button-social {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}

.footer-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
  margin: 40px 13px 30px 38px;
}

.footer-phone:hover {
  color: #756257
}

.footer-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-phone:active {
  color: #756257;
  opacity: 0.3;
  border: none;
}

.icon-logo {
  fill: #000000;
}

.container-footer-link {
  display: block;
  width: 154px;
  height: 64px;
  margin-top: 32px;
}

.htmlacademy-link {
  display: block;
  padding: 10px;
}

.htmlacademy-link:focus {
  fill: #756257;
  border-radius: 10px;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  outline: none;
}

.icon-logo:hover {
  fill: #756257;
}

.icon-logo:focus {
  fill: #756257;
  border-radius: 10px;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
}

.icon-logo:active {
  fill: #756257;
  opacity: 0.3
}

/* Стилизация каталога */
.main-inner {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.catalog-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  padding: 35px 72px 83px 71px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumbs-icon {
  margin-right: 26px;
}

.breadcrumbs-link {
  font-size: 16px;
}

.hotels-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.hotels-filter{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.hotels-filter-group {
  margin: 0;
  padding: 0;
}

.group-types {
  margin-left: 67px;
}

.hotels-filter-list {
  padding: 0;
  margin-top: 30px;
}

.hotels-filter-item {
  list-style-type: none;
  padding: 0;
  margin-bottom: 13px;
}

.hotels-filter-item:last-child {
  margin-bottom: 0;
}

.container-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.button-apply {
  color:#ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
}

.button-reset {
  color: #ffffff;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 160px;
  height: 23px;
  margin-top: 20px;
}

.select {
  width: 1057px;
  height: 48px;
  padding: 0;
  padding-top: 44px;
  margin: 0 auto;
  margin-bottom: 53px;
  display: flex;
  justify-content: flex-start;
}

.found-pages {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 3px;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 287px;
  height: 48px;
}

.button-view-type {
  padding: 17px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button-view-type:last-child {
  margin-right: 0;
}

.catalog-hotels {
  width: 1056px;
  margin: 0 auto;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  padding: 0;
}

.catalog-hotels-item {
  display: grid;
  grid-template-rows: 206px min-content auto 37px 37px;
  grid-template-columns: 133px 141px;
  gap: 16px 25px;
  padding: 20px;
}

.hotel-image {
  grid-column: 1/-1;
}

.hotel-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}

.type-housing,
.hotel-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.button-hotel {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
}

.rating-stars {
  margin-right: 7px;
  align-self: center;
}

.hotel-rating {
  color: #333333;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.rating-content {
  grid-column: 1/-1;
  display: flex;
}

.button-show-more {
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 620px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 60px;
  padding: 17px 0;
}

.container-pagination {
  width: 1056px;
  min-height: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 73px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 8px;
  width: 55px;
  height: 55px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  /*text-align: center;*/
  text-transform: uppercase;
}

.pagination-link {
  color: #ffffff ;
  background-color: #83b3d3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 17px;
}

.container-hotels-amount {
  width: 386px;
  margin-top: 3px;
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
}

.hotels-value {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.amount-value {
  width: 160px;
  padding-left: 17px;
}

.newletter-inner {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 140px;
}

.subscription-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0;
}

.newletter-description-inner {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 46px;
}


